name = "oe-approval-form"
main = "src/index.js"
compatibility_date = "2024-12-01"

[assets]
directory = "./public"
binding = "ASSETS"

[vars]
MAINTENANCE_MODE = "false"

[observability]
[observability.logs]
enabled = false
head_sampling_rate = 1
invocation_logs = true
persist = true